<div id="questions_admin">
  
  <div id="quiz" class="span-14">
    <ul id="questions">
      <% @questions.each do |question| %>
        <% content_tag_for(:li, question) do %>
          <p><%= link_to "Edit", edit_question_path(question) %> <%= link_to "Delete", question, :confirm => 'Are you sure?', :method => :delete %> <%= link_to "Visit", question_path(question) %> <%=h question.body %></p>
        <% end %>
      <% end %>
    </ul>
    <div class="flickr_pagination">
      <%= will_paginate @questions %>
    </div>
    <%= sortable_element("questions", :url => sort_questions_path) %>
  </div><!--quiz-->

  <div id="quiz_sidebar" class="span-6 last">
    <div id="usernav" class="alt" >
        <ul>
          <li><%= link_to "New Question", new_question_path %></li>
          <li><%= link_to "Admin", admins_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
         
        </ul>      
      </div><!--usernav-->
  </div><!--quiz_sidebar-->
  
</div><!--question_admin"-->