
  <% div_for answer do  %>
      <tr>
        <td>
          <h3><%= answer.body %></h3>
            <p><% div_for(answer.feedback, :style => "display:none") do %>          
            <%= observe_field   :question, :with => "question_id[]", 
                                :frequency  => 0.25, 
                                :url        => { }, 
                                :update     => :message     
            %>
            <% end %></p>
          <% if current_admin %>
            <strong>Truthiness:</strong> <%=h answer.truthiness %> <strong>Points:</strong> <%=h answer.points %>
          <% end %>
        </td>
        <td>
          <%= radio_button_tag :answer, answer.id, false %>
        </td>
      </tr>
  <% end %>


