<% title "Answer" %>

<%= render :partial => 'answer' %>

<p>
  <strong>Feedback:</strong>
  <%=h @answer.feedback %>
</p>

<p>
  <%= link_to "Edit", edit_answer_path(@answer) %> |
  <%= link_to "Destroy", @answer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", answers_path %>
</p>
