<% title "Pages" %>

<div class="page">

  <% for page in @pages %>
    <div class="pagesidebar span-7">
    <h2><%=h page.title %></h2>
    <h3><%= render :inline => page.body %></h3>
    
  </div>
  <div class="pagebody span-16 last">
<%= render :inline => page.visual %>
  </div>
  <hr />
  <% end %>
<div class="footer">
  <div class="flickr_pagination">
  <%= will_paginate @pages %>
  </div>
<% if current_admin %>
<p><%= link_to "New Page", new_page_path %> |
<%= link_to "Edit", edit_page_path(page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
</div>
</div>
